@using App.Enum
@using WebApp.ViewModels
@model AddAttendeeToAnotherEventVM
@{
    ViewData["Title"] = "Osavõtja lisamine teisele üritusele";
}

<h1>Osavõtja lisamine teisele üritusele</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @if (Model.AttendeeType!.Value == AttendeeType.Company)
            {
                <div class="form-group form-check" id="is_number_of_attendees_changed_div">
                    <label asp-for="IsNumberOfPeopleFromCompanyChanged" class="form-check-label" style="display:block">
                        <input asp-for="IsNumberOfPeopleFromCompanyChanged" style="display:block" class="form-check-input" onchange="ShowHide(this.checked)" />  @Html.DisplayNameFor(model => model.IsNumberOfPeopleFromCompanyChanged)
                    </label>
                </div>

                <div id="number_of_people_from_company_div" class="form-group" style="display:none">
                    <label asp-for="NumberOfPeopleFromCompany" class="control-label"></label>
                    <input asp-for="NumberOfPeopleFromCompany" class="form-control" />
                    <span asp-validation-for="NumberOfPeopleFromCompany" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <select name="EventId" asp-for="EventId" class="form-control" asp-items="Model.Events">
                    @if (Model.Events == null || !Model.Events.Any())
                    {
                        <option value="">Tulevasi üritusi pole</option>
                    }
                    else
                    {
                        <option value="">Palun valige</option>
                    }
                </select>
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Lisa" asp-action="AddAttendeeToAnotherEvent" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <button class="btn btn-primary" onclick="BackToHomePage()">Tagasi</button>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        function BackToHomePage() {
            window.location.href = '@Url.Action("Index", "Home")';
        }
         function ShowHide(value) {
             const number_of_people_from_company_div = document.getElementById("number_of_people_from_company_div");
             console.log(number_of_people_from_company_div);
             console.log(value, typeof value);
            if(value === true) {
                number_of_people_from_company_div.style.display = 'block';
                console.log("test");
            }
            else {
                number_of_people_from_company_div.style.display = 'none';
            }

         }

    </script>
}