@using App.Domain
@using App.Enum
@using WebApp.ViewModels
@using WebApp.Helpers
@model CreateEditAttendeeVM

@{
    ViewData["Title"] = "Osavõtja lisamine";
    AttendeeType? attendeeType = Model.AttendeeType;
}

<h1>Osavõtja lisamine</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_CreateEditAttendee" model="Model" />
            <br />
            <div class="form-group">
                <input type="submit" value="Lisa" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <button class="btn btn-primary" onclick="BackToHomePage()">Tagasi</button>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        function BackToHomePage() {
            window.location.href = '@Url.Action("Index", "Home")';
        }
        function ShowHide(value) {
            const companyDiv = document.getElementById("company_fields");
            const personDiv = document.getElementById("person_fields");
            const personStyleDisplay = value == 'Person' ? "block" : "none";
            const companyStyleDisplay = value == 'Company' ? "block" : "none";
            companyDiv.style.display = companyStyleDisplay;
            personDiv.style.display = personStyleDisplay;
        }
        ShowHide('@attendeeType');

    </script>
}
