@using WebApp.ViewModels
@model LisaMuudaMakseviisVM

@{
    ViewData["Title"] = "Create";
}

<h1>Makseviisi lisamine</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OsavõtumaksuMaksmiseViisiNimetus" class="control-label"></label>
                <input asp-for="OsavõtumaksuMaksmiseViisiNimetus" class="form-control" />
                <span asp-validation-for="OsavõtumaksuMaksmiseViisiNimetus" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Lisa" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <button onclick="TagasiAvalehele()" class="btn btn-primary">Tagasi</button>
</div>

@section Scripts {
    <script type="text/javascript">
        function TagasiAvalehele() {
            window.location.href = '@Url.Action("Index", "Home")';
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
