@model App.Domain.OsavõtumaksuMaksmiseViis

@{
    ViewData["Title"] = "Makseviisi kustutamine";
}

<h1>Makseviisi kustutamine</h1>

<h3>Kas olete kindel, et soovite makseviisi kustutada?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OsavõtumaksuMaksmiseViisiNimetus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OsavõtumaksuMaksmiseViisiNimetus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Kustuta" class="btn btn-danger" /> |
        <a asp-action="Index">Tagasi</a>
    </form>
</div>
