@using WebApp.ViewModels
@model CreateEditPaymentMethodVM

@{
    ViewData["Title"] = "Maksemeetodi lisamine";
}

<h1>Maksemeetodi lisamine</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <partial name="_CreateEditPaymentMethod" model="Model" />
            <br />
            <div class="form-group">
                <input type="submit" value="Lisa" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <button class="btn btn-primary" onclick="BackToHomePage()">Tagasi</button>
</div>

@section Scripts {
    <script type="text/javascript">
        function BackToHomePage() {
            window.location.href = '@Url.Action("Index", "Home")';
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
