@model IEnumerable<App.Domain.PaymentMethod>

@{
    ViewData["Title"] = "Maksemeetodid";
}

<h1>Maksemeetodid</h1>

<p>
    <a style="text-decoration:none" asp-action="Create">Lisa uus maksemeetod</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a style="text-decoration:none" asp-action="Edit" asp-route-id="@item.Id">MUUDA</a> |
                <a style="text-decoration:none" asp-action="Delete" asp-route-id="@item.Id">KUSTUTA</a>
            </td>
        </tr>
}
    </tbody>
</table>
