@using WebApp.ViewModels
@model CreateEditEventVM

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="EventDateAndTime" class="control-label"></label>
    <input name="EventDateAndTime" asp-for="EventDateAndTime" onchange="ValidateEventDateAndTime(this.value)" class="form-control" />
    <span id="Event_Date_And_Time_Client_Side_Validation" asp-validation-for="EventDateAndTime" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Location" class="control-label"></label>
    <input asp-for="Location" class="form-control" />
    <span asp-validation-for="Location" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="AdditionalInfo" class="control-label"></label>
    <textarea asp-for="AdditionalInfo" class="form-control"></textarea>
    <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
</div>