@using WebApp.ViewModels
@model ListOfEventVM

<p>
    <a style="text-decoration:none" asp-controller="Events" asp-action="Create">Lisa uus üritus</a>
</p>

<h1>Tulevased üritused</h1>
@await Html.PartialAsync("_EventTable", Model.FutureEvents)
<h1>Toimunud üritused</h1>
@await Html.PartialAsync("_EventTable", Model.PastEvents)
 

