@using WebApp.ViewModels
@model EventIndexVM

<h1>Üritused</h1>

<h2>Tulevased Üritused</h2>
@Html.Partial("_EventTable", Model.FutureEvents)

<h2>Varasemad Üritused</h2>
@Html.Partial("_EventTable", Model.PastEvents)
