html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.header-filled {
    background-color: #3F5C9C;
    color: white;
    text-align: center;
    vertical-align: middle;
}
#home-page-image {
    background-image: url(/images/pilt.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
footer {
    background-color: #3D3C3E;
    color:lightgray;
}
.form-group .control-label {
    min-width: 100px
}