@using App.Domain.Enum
@using WebApp.ViewModels
@model LisaMuudaOsavõtja

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Osavõtja</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OsavõtjaTüüp" class="control-label"></label>

                @foreach (var tüüp in Enum.GetValues(typeof(OsavõtjaTüüp)).Cast<OsavõtjaTüüp>())
                {
                    <div class="form-check">
                        <input type="radio" asp-for="OsavõtjaTüüp" value="@tüüp" class="form-check-input" />
                        <label class="form-check-label">@tüüp</label>
                    </div>
                }

                <span asp-validation-for="OsavõtjaTüüp" class="text-danger"></span>
            </div>

            @* <div class="form-group">
                <label asp-for="OsavõtjaTüüp" class="control-label"></label>
                <input type="radio" value="@OsavõtjaTüüp.Eraisik" asp-for="OsavõtjaTüüp" class="form-control" asp-items="Html.GetEnumSelectList<OsavõtjaTüüp>()"></input>
                <label>@OsavõtjaTüüp.Eraisik</label>
                <span asp-validation-for="OsavõtjaTüüp" class="text-danger"></span>
            </div> *@
           @*  <div class="form-group">
                <label asp-for="Eesnimi" class="control-label"></label>
                <input asp-for="Eesnimi" class="form-control" />
                <span asp-validation-for="Eesnimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perekonnanimi" class="control-label"></label>
                <input asp-for="Perekonnanimi" class="form-control" />
                <span asp-validation-for="Perekonnanimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isikukood" class="control-label"></label>
                <input asp-for="Isikukood" class="form-control" />
                <span asp-validation-for="Isikukood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EraisikuLisainfo" class="control-label"></label>
                <textarea asp-for="EraisikuLisainfo" class="form-control"></textarea>
                <span asp-validation-for="EraisikuLisainfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EttevõtteJuriidilineNimi" class="control-label"></label>
                <input asp-for="EttevõtteJuriidilineNimi" class="form-control" />
                <span asp-validation-for="EttevõtteJuriidilineNimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EttevõtteRegistrikood" class="control-label"></label>
                <input asp-for="EttevõtteRegistrikood" class="form-control" />
                <span asp-validation-for="EttevõtteRegistrikood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EttevõttestTulevateOsavõtjateArv" class="control-label"></label>
                <input asp-for="EttevõttestTulevateOsavõtjateArv" class="form-control" />
                <span asp-validation-for="EttevõttestTulevateOsavõtjateArv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OsavotumaksuMaksmiseViisId" class="control-label"></label>
                <select asp-for="OsavotumaksuMaksmiseViisId" class ="form-control" asp-items="ViewBag.OsavotumaksuMaksmiseViisId"></select>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
